@import 'tailwindcss';

:root {
  --background: 0 0% 99%;
  --foreground: 0 0% 9%;
}

.dark {
  --background: 0 0% 9%;
  --foreground: 0 0% 93%;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  html,
  body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    transition-property: color, background-color, border-color;
    transition-duration: 150ms;
  }
}
